/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  // .mt-3{
  //   margin-top:1rem;
  // }

  // .my-3{
  //   margin-top:1rem;
  //   margin-bottom:1rem;
  // }